bucket         = "shoplite-sandbox-tf-state"
key            = "shoplite/vpc-core-network/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "shoplite-sandbox-tf-lock"
encrypt        = true
